@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,700;1,700&family=Roboto:wght@400;700&display=swap');

body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #F7D1CD;
}

.menu{
    background-color: white;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: -1px 1px 8px 3px rgba(140,140,140,0.34); 
    box-shadow: -1px 1px 8px 3px rgba(140,140,140,0.34);
    position: relative;
}

.logo{
    width: 10%;
    cursor: pointer;
}

.opcoes-menu ul {
    display: flex;
    justify-content: end;
}

.opcoes-menu ul li {
    list-style: none;
    margin-left: 50px;
}

.opcoes-menu ul li a {
    color: #735D78;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    transition: 1s ease;
}

.opcoes-menu ul li a:hover {
    color: #1a121b;
}

.opcoes-menu {
    padding: 17px;
    width: 85%;
    
}

.content-main {
  height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

b {
    color: #1a121b;
    font-weight: 700;
}

.texto {
  width: 350px;
}

.content-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  justify-content: center;
  align-items: center;

}

.girl {
  display: flex;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  color: #735D78;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}

p {
  font-family: 'Roboto';
}

h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #735D78;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 0;
}

h3 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #1a121b;
  font-size: 16px;
  margin-top: 0;
}

.girl .imagem {
  border-radius: 100%;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

img {
  max-width: 100%;
  
}

